<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="p-3 mb-2 bg-secondary-subtle  text-white">
        <div class="row">
          <div class="col-md-4">
            <div class="grid text-center">
               <p class="text-danger"><b>Address</b></p>
               <p class="text-dark"><b>Chandra Naik thanda,Near Cyber tower,Madhapur, Hyderabad, Telangana 500085</b></p>
            </div>
         </div>
          <div class="col-md-4">
            <div class="grid text-center">
              <p class="text-info"><b>Quick Links</b></p>
            <a href="#">Home</a><br/>
            <a href="#">Contact</a><br/>
            <a href="#">About</a><br/>
            </div>
          </div>
          <div class="col-md-4">
            <div class="grid text-center">
            <p class="text-info"><b>Contact us</b></p>
            <a href="#"><i class="bi bi-facebook"></i>Facebook</a><br>
            <a href="#"><i class="bi bi-instagram"></i>Instagram</a><br>
            <a href="#"><i class="bi bi-twitter"></i>Twitter</a><br>
            <a href="#"><i class="bi bi-linkedin"></i>LinkedIn</a><br>
            </div>
          </div>
          </div>

  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/popper.js"></script>
  </body>
